body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#formWrapper {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-items: center;
}

#centerContent {
  text-align: center;
}

#csv-form {
  display: flex;
  gap: 10em;
  justify-content: center;
}

button {
  color: black;
  background: white;
  border: 2px solid #01408e;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
}
tr {
  border-bottom: none;
}
td,
th {
  border-bottom: 1px solid black;
}

.dark {
  background: black;
  color: white;

  & button {
    color: white;
    background: transparent;
  }
  & .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    background-color: transparent;
    color: white;
  }
  & th,
  td {
    color: white;
  }
  & .css-quj9j6-MuiTable-root {
    background-color: #202020;
  }
  & .MuiButtonBase-root.Mui-selected {
    border: 0px;
    border-bottom: 1px solid #8fceff;
    color: white;
  }
  & tr {
    border-bottom: 1px solid wheat;
  }
  & td,
  th {
    border-bottom: none;
  }
}

#root {
  height: 100vh;
}

/**Toggle styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: white;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleContainer {
  float: right;
}
